@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.hero_section {
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 47, 64, 1) 0%,
    rgba(30, 30, 70, 1) 0%,
    rgba(43, 80, 91, 1) 82%,
    rgba(43, 85, 92, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero_text {
  color: #fffffff6;
  max-width: 600px;
  z-index: 1;
}

.greetings {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.addressing {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.addressing h1 {
  color: rgba(0, 255, 255, 0.856);
  font-size: 38px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  letter-spacing: 2px;
}

.addressing p {
  font-size: 25px;
}

.addressing span {
  font-weight: 400;
  color: rgb(208, 67, 136);
}

.addressing small {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.61);
}

.addressing small .read_more_btn {
  background: #fff;
  color: rgb(34, 44, 76);
  padding: 3px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  transition: all .4s ease;
}

.addressing small .read_more_btn:hover{
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.849);
}

/** Hero css Social Btn start**/

.hero_social_btn{
  margin-top: 20px;
  display: flex;
  gap: 30px;

}
.hero_social_btn a{
  font-size: 25px;
  padding: 5px;
  color: #2c2e2e;
  border: 3px solid rgb(228, 48, 132);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #1ccbe2;
  transition: all .3s ease;
  box-shadow: 2px 2px 20px rgb(228, 48, 132);
}

.hero_social_btn a:hover{
  box-shadow: 2px 2px 20px #1ccbe2;
}

/** Hero css Social Btn end**/

.download_resumeBtn {
  margin: 30px 0px 0px 0px;
}

.download_resumeBtn a button {
  padding: 8px 20px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  z-index: 0;
  position: absolute;
  /* left: 500px; */
  border: none;
  outline: none;
  border-radius: 1px;
  transition: all 0.8s ease;
  background-color: #ffffff;
}

.download_resumeBtn a button:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(34, 44, 76, 0.411);
  transition: all 0.8s ease;
  opacity: 0;
  visibility: hidden;
}

.download_resumeBtn a button:hover:before {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.download_resumeBtn a button:hover {
  box-shadow: 3px 3px 10px #ffffff;
}

/**Hero img css start**/

.hero_img {
  margin-left: 200px;
  z-index: 0;
 
}

.hero_img img {
  margin-top: 33px;
  opacity: .9;
  border: 6px double rgb(19, 190, 190) ;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 20px rgb(0, 255, 255);
  filter: drop-shadow(0px 0px 20px rgb(21, 24, 21));
}

/**Hero img css end**/



.animation_box {
  position: absolute;
  height: 35px;
  width: 35px;
  border: 2px solid rgb(54, 173, 177);
  border-radius: 50%;
  background-color: #ffffff;
}

.animation .animation_box:nth-child(1) {
  position: absolute;
  left: -10px;
  top: -4px;
  animation: animate 9s linear infinite;
}
.animation .animation_box:nth-child(2) {
  position: absolute;
  left: 200px;
  top: 29px;
  animation: animate 5s linear infinite;
}
.animation .animation_box:nth-child(3) {
  position: absolute;
  left: 1000px;
  top: 44px;
  animation: animate 7s linear infinite;
}
.animation .animation_box:nth-child(4) {
  position: absolute;
  right: 10px;
  top: 20px;
  animation: animate 10s linear infinite;
}
.animation .animation_box:nth-child(5) {
  position: absolute;
  left: 450px;
  top: 100px;
  animation: animate 6s linear infinite;
}
.animation .animation_box:nth-child(6) {
  position: absolute;
  left: 700px;
  top: 4px;
  animation: animate 3s linear infinite;
}
.animation .animation_box:nth-child(7) {
  position: absolute;
  left: 1043px;
  top: 209px;
  animation: animate 10s linear infinite;
}
.animation .animation_box:nth-child(8) {
  position: absolute;
  left: 830px;
  top: 250px;
  animation: animate 4s linear infinite;
}
.animation .animation_box:nth-child(9) {
  position: absolute;
  left: 30px;
  top: 650px;
  animation: animate 6s linear infinite;
}
.animation .animation_box:nth-child(10) {
  position: absolute;
  left: 100px;
  top: 200px;
  animation: animate 10s linear infinite;
}
.animation .animation_box:nth-child(11) {
  position: absolute;
  left: 190px;
  top: 240px;
  animation: animate 9s linear infinite;
}
.animation .animation_box:nth-child(12) {
  position: absolute;
  left: 580px;
  top: 200px;
  animation: animate 3s linear infinite;
}
.animation .animation_box:nth-child(13) {
  position: absolute;
  left: 900px;
  bottom: 10px;
  animation: animate 6s linear infinite;
}
.animation .animation_box:nth-child(14) {
  position: absolute;
  right: -10px;
  bottom: 40px;
  animation: animate 5s linear infinite;
}
.animation .animation_box:nth-child(15) {
  position: absolute;
  right: 50px;
  top: 239px;
  animation: animate 3s linear infinite;
}
.animation .animation_box:nth-child(16) {
  position: absolute;
  left: 500px;
  bottom: 69px;
  animation: animate 10s linear infinite;
}
.animation .animation_box:nth-child(17) {
  position: absolute;
  left: 1080px;
  bottom: 85px;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translateY(-70px) rotate(360deg);
    opacity: 0;
  }
}


@media screen and (max-width: 1024px) {
  .hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
  }
  

  .hero_text{
    z-index: 1;
  }
  
  
  .greetings {
    font-size: 22px;
    
  }
  
  .addressing {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
  }
  
  .addressing h1 {
    color: rgba(0, 255, 255, 0.856);
    font-size: 30px;
    font-weight: 300;
  }
  
  .addressing p {
    font-size: 22px;
  }
  
  .addressing small {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.61);
  }
  
  .hero_social_btn a{
    z-index: 1;
  }
  
  .hero_img{
    position: absolute;
    bottom: -1px;
    right: -180px;
    z-index: 0;
    opacity: .4;
  }

  .hero_img img{
    height: 90vh;
    width:auto;
  }
}


